version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pentzy
      POSTGRES_PASSWORD: pentzy
      POSTGRES_DB: pentzydb
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://pentzy:pentzy@db:5432/pentzydb
